@media (orientation: landscape)
{
    h2
    {
        color: black;
        padding-top: 10px;
        text-align: center;
        font-size: 45px;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    h5
    {
        color: black;
        padding-top: 10px;
        font-size: 19.5px;
        text-align: center;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        opacity: 50%;
    }

    input
    {
        background-color: white;
        width: 40%;
        margin-left: 30%;
        font-size: 20px;
        padding: 16px 16px;
        border-radius: 10px;
        border-color: black;
        margin-bottom: 20px;
    }

    textarea
    {
        background-color: white;
        width: 40%;
        margin-left: 30%;
        font-size: 20px;
        padding: 16px 16px;
        border-radius: 10px;
        border-color: black;
        margin-bottom: 25px;
        font-family: monospace;
    }

    input:focus-within
    {
        outline: none;
        border-color: #5bd183;
        border-width: 3px;
    }

    textarea:focus-within
    {
        outline: none;
        border-color: #5bd183;
        border-width: 3px;
    }

    button
    {
        background-color: #5bd183;
        border-radius: 20px;
        border-color: black;
        font-size: 18px;
        padding: 10px 18px;
        text-align: center;
        display: flex;
        margin: auto;
    }

    button:hover
    {
        opacity: 80%;
        cursor: pointer;
    }

    .about
    {
        font-family: monospace;
    }

    h1
    {
        text-align: center;
        font-size: 50px;
        isolation: isolate;
    }

    h3
    {
        color: black;
        text-align: center;
        font-size: 37.5px;
        isolation: isolate;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    tr[data-href]:hover
    {
        color: blue;
    }

    h3.about
    {
        font-size: 24px;
    }

    h4.about
    {
        color: black;
        text-align: center;
        font-size: 40px;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-style: italic;
    }

    td
    {
        color: blue;
        font-size: 20px;
        isolation: isolate;
        text-decoration-line: underline
    }

    td:hover
    {
        color: red;
        opacity: 60%;
    }

    td.home:hover
    {
        color: red;
        opacity: 60%;
    }

    td.home
    {
        color: blue;
        font-size: 20px;
        text-align: center;
        isolation: isolate;
        text-decoration-line: underline;
    }

    .menu-image
    {
        margin-left: 32%;
        margin-right: auto;
    }

    .center
    {
        margin-left: auto;
        margin-right: auto;
    }

    p
    {
        font-size: 22px;
    }

    h6
    {
        color: black;
        padding-top: 10px;
        font-size: 19.5px;
        text-align: center;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .hero
    {
        background-image: url("images/utah-mountains-background\ \(2\).jpg");
        background-size: auto;
        height: 187px;
        display: block;
        place-items: center;
        position: relative;
        margin-left: auto;
        margin-right: auto;

        border: 2px solid;
        border-color: #F6BC70;
    }

    .hero2
    {
        background-color: #FFFCD7;
        background-image: url("images/background-original.jpg");
        background-size: cover;

        background-blend-mode: multiply;
    }

    .hero3
    {
        background-color: #FFFCD7;
        background-image: url("images/background-slit.jpg");
        background-size: cover;

        background-blend-mode: multiply;
    }

    .hero4
    {
        background-color: #FFFCD7;
        background-image: url("images/background-m-horiz.jpg");
        background-size: cover;

        background-blend-mode: multiply;
    }

    .hero5
    {
        background-color: #FFFCD7;
        background-image: url("images/background-x-horiz.jpg");
        background-size: cover;

        background-blend-mode: multiply;
    }

    .container-p-5
    {
        margin-left: auto;
        margin-right: auto;
    }

    th
    {
        font-size: 25px;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-style: italic;
    }

    ul
    {
        margin-left: 10%;
        margin-right: auto;
    }

    h4
    {
        text-align: center;
        font-size: 18px;
    }

    #short
    {
        color: blue;
    }

    #moderate
    {
        color: green;
    }

    #long
    {
        color: orange;
    }

    #verylong
    {
        color: red;
    }

    tr[data-href]
    {
        cursor: pointer;
    }

    tr[onclick]
    {
        cursor: pointer;
    }

    p
    {
        color: black;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-style: italic;
        font-size: 27px;
    }

    h7
    {
        color: black;
        opacity: 60%;
        font-size: 8px;;
    }

    img
    {
        max-width: 100%;
        max-height: 100%;
    }

    .map
    {
        width: 405px;
        height: 275px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-bottom: 75px;
    }

    #moveable-logo
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 200px;
        width: 300px;
    }

    .about
    {
        margin-left: 15%;
        margin-right: 15%;
    }
    
    .navbar
    {
        display: flex;
        align-items: right;
        justify-content: space-between;
        padding-right: 15px;
        font-size: 17px;
    }

    a.title
    {
        padding-left: 25px;
        color: black;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-style: italic;
        font-size: 32px;
        text-decoration-line: none;
    }
}

@media (orientation: portrait)
{
    h2
    {
        color: black;
        padding-top: 10px;
        text-align: center;
        font-size: 65px;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    h5
    {
        color: black;
        padding-top: 10px;
        font-size: 27px;
        text-align: center;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        opacity: 50%;
    }

    input
    {
        background-color: white;
        width: 40%;
        margin-left: 30%;
        font-size: 20px;
        padding: 16px 16px;
        border-radius: 10px;
        border-color: black;
        margin-bottom: 20px;
    }

    textarea
    {
        background-color: white;
        width: 40%;
        margin-left: 30%;
        font-size: 20px;
        padding: 16px 16px;
        border-radius: 10px;
        border-color: black;
        margin-bottom: 25px;
        font-family: monospace;
    }

    input:focus-within
    {
        outline: none;
        border-color: #5bd183;
        border-width: 3px;
    }

    textarea:focus-within
    {
        outline: none;
        border-color: #5bd183;
        border-width: 3px;
    }

    button
    {
        background-color: #5bd183;
        border-radius: 20px;
        border-color: black;
        font-size: 18px;
        padding: 10px 18px;
        text-align: center;
        display: flex;
        margin: auto;
    }

    button:hover
    {
        opacity: 80%;
        cursor: pointer;
    }

    .about
    {
        font-family: monospace;
    }

    h1
    {
        text-align: center;
        font-size: 50px;
        isolation: isolate;
    }

    h3
    {
        color: black;
        text-align: center;
        font-size: 55px;
        isolation: isolate;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    tr[data-href]:hover
    {
        color: blue;
    }

    h3.about
    {
        font-size: 40px;
    }

    h4.about
    {
        color: black;
        text-align: center;
        font-size: 60px;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-style: italic;
    }

    td
    {
        color: blue;
        font-size: 35px;
        isolation: isolate;
        text-decoration-line: underline
    }

    td:hover
    {
        color: red;
        opacity: 60%;
    }

    td.home:hover
    {
        color: red;
        opacity: 60%;
    }

    td.home
    {
        color: blue;
        font-size: 40px;
        text-align: center;
        isolation: isolate;
        text-decoration-line: underline;
    }

    .menu-image
    {
        margin-left: 32%;
        margin-right: auto;
    }

    .center
    {
        margin-left: auto;
        margin-right: auto;
    }

    h6
    {
        color: black;
        padding-top: 10px;
        font-size: 30px;
        text-align: center;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .hero
    {
        background-image: url("images/utah-mountains-background\ \(2\).jpg");
        background-size: auto;
        height: 187px;
        display: block;
        place-items: center;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        zoom: 1.6;

        border: 2px solid;
        border-color: #F6BC70;
    }

    .hero2
    {
        background-color: #FFFCD7;
        background-image: url("images/background-original.jpg");
        background-size: cover;

        background-blend-mode: multiply;
    }

    .hero6
    {
        background-color: #FFFCD7;
        background-image: url("images/background-x-horiz.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;

        background-blend-mode: multiply;
    }

    .hero3
    {
        background-color: #FFFCD7;
        background-image: url("images/background-m-horiz.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;

        background-blend-mode: multiply;
    }

    .hero4
    {
        background-color: #FFFCD7;
        background-image: url("images/background-m-horiz.jpg");
        background-size: cover;

        background-blend-mode: multiply;
    }

    .hero5
    {
        background-color: #FFFCD7;
        background-image: url("images/background-x-horiz.jpg");
        background-size: cover;

        background-blend-mode: multiply;
    }

    .container-p-5
    {
        margin-left: auto;
        margin-right: auto;
    }

    th
    {
        font-size: 40px;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-style: italic;
    }

    h4
    {
        text-align: center;
        font-size: 25px;
    }

    #short
    {
        color: blue;
    }

    #moderate
    {
        color: green;
    }

    #long
    {
        color: orange;
    }

    #verylong
    {
        color: red;
    }

    tr[data-href]
    {
        cursor: pointer;
    }

    tr[onclick]
    {
        cursor: pointer;
    }

    .title
    {
        padding-left: 15px;
        color: black;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-style: italic;
        font-size: 23px;
    }

    p
    {
        color: black;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-style: italic;
        font-size: 22px;
    }

    h7
    {
        color: black;
        opacity: 60%;
        font-size: 8px;;
    }

    img
    {
        max-width: 100%;
        max-height: 100%;
    }

    .map
    {
        width: 405px;
        height: 275px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        zoom: 1.6;
        margin-bottom: 75px;
    }

    #moveable-logo
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 200px;
        width: 300px;
    }

    .about
    {
        margin-left: 15%;
        margin-right: 15%;
    }

    .navbar
    {
        display: flex;
        align-items: right;
        justify-content: space-between;
        padding-right: 10px;
        font-size: 32.5px;
    }

    a.title
    {
        padding-left: 35px;
        color: black;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-style: italic;
        font-size: 47.5px;
        text-decoration-line: none;
    }

    p
    {
        font-size: 42px;
    }
}
